* {
	box-sizing: border-box;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}



.thing {
	width: 50vw;
	height: 50vh;
	position: absolute;
	top:25vh;
	left:25vw;
	background-color: #f00;

    animation-name: rotate; 
    animation-duration: 80s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}